.slidebar-item-ctn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  &.active {
    svg {
      transform: rotate(180deg);
      animation: rotation 2s infinite linear;
      path {
        fill: white;
      }
    }
  }
  &:hover {
    background-color: #222222;
  }
  p {
    margin: 0;
    font-size: 15px;
    text-align: center;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
