.slidebar-ctn {
  padding-right: 10px;
}
.nav-link {
  &.selected {
    font-weight: 600;
  }
}
.shorts-icon {
  fill: black;
  stroke: white;
  stroke-width: 40;

  &.active {
    path:nth-child(2) {
      fill: black !important;
      stroke: black !important;
    }
  }
}
